body {
  background-color: rgb(245, 129, 129);
  color: white;
}
.content {
  margin-top: 150px;
}

h1 {
  text-shadow: 1px 1px 4px grey;
}
h3 {
  color: #cfcfcf;
  letter-spacing: 0.5px;
}
p {
  text-shadow: 1px 1px 4px grey;
}

@media screen and (max-width: 800px) {
  .content {
    margin-top: 50px;
  }
}
